<template>
    <div class="<%= data.className %>">
        <h1>{{ msg }}}</h1>
        <h2>{{ message }}}</h2>
    </div>
</template>

<script>
import func from 'vue-editor-bridge'
export default {
    name: '<%= data.name %>',
    props:{
        msg: '<%= data.msg %>'
    },
    components:{
    },
    mixins:[],
    data() {
        return{
            message:'<%= data.message %>'
        }
    },
    created(){},
    mounted(){},
    computed(){}
}
</script>

<style scope>
    .<%= data.className %>{

    }
</style>